:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.section {
  height: 100vh;
}


.heading {
  font-family: 'P22 Bifur C', sans-serif;
  text-transform: uppercase;
  font-size: 10rem;
}

.subHeading {
  font-family: "Futura Round W01 Medium";
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: .1rem;
  color: #797979;
}