.certif {
    background-color: white;
    color: black;
    height: auto;
}

.certifImg {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 5px solid black;
    padding: 2px;
    margin: 4rem;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.certifImg:hover {
    transform: scale(1.2);
    box-shadow: 0 15px 25px 0px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
.certifImg.scaled {
    transform: scale(1.2);
  }

.certifImg img {
    max-width: 100%;
    max-height: 100%;
}

.Image_group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aws {
    scale: .8;
}

.centeredText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Futura Round W01 Medium";
    font-size: 1.05rem;
}
p{
    margin: 0;
}

/* Media query for smaller screens */
@media (max-width: 768px) {

    /* Styles specific to smaller screens */
    .certifImg {
        height: 100px;
        width: 100px;
        margin: .5rem;
    }


}

@media (min-width: 2000px) {

    /* Styles specific to larger screens */

}