.contact:not(.icon) {
    background-color: black;
    color: white;
    font-family: "Futura Round W01 Medium";
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip {
    width: 45%;
    height: 50%;
    /* text-align: center; */
    perspective: 600px;
}

.flip-content {
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    text-align: center;
}

.flip:hover .flip-content {
    transform: rotateY(180deg);
    transition: transform 0.3s;
}

.flip-front:not(.icon),
.flip-back:not(.icon) {
    padding: 1rem 2rem;
    position: absolute;
    height: 100%;
    width: 100%;
    /* line-height: 150px; */
    backface-visibility: hidden;
    color: black;
    background-color: gainsboro;
    border: 6px solid gainsboro;
    border-radius: 1rem;
    box-shadow: 0 0 30px 0px gainsboro;
}

.flip-back {
    transform: rotateY(180deg);
    border: 6px solid gainsboro;
    box-shadow: 0 0 30px -4px gainsboro;
}

h2 {
    font-family: 'P22 Bifur C', sans-serif;
    text-transform: uppercase;
}

.icon {
    position: relative;
    font-size: 4rem;
}

.item:hover {
    color: white;

}

.item {
    padding: 1rem 1rem;
}

.insta:hover {
    box-shadow: 0px 0px 20px #d6249f;
    scale: 1.2;

}

.wa:hover {
    box-shadow: 0px 0px 20px #25D366;
    scale: 1.2;

}

.lin:hover {
    box-shadow: 0px 0px 20px #0A66C2;
    scale: 1.2;

}

.git:hover {
    box-shadow: 0px 0px 20px black;
    background-color: black;
    scale: 1.2;

}


.insta {
    padding: .2rem;
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    border: 0rem solid transparent;
    border-radius: 25%;
    transition: all .1s ease-in-out;
    scale: 1;

}

.i {
    font-size: 5rem
}

.wa {
    padding: .2rem;
    border: 0rem solid transparent;
    border-radius: 25%;
    transition: all .1s ease-in-out;
    background-color: #25D366;
    scale: 1;
}

.lin {
    padding: .2rem;
    border: 0rem solid transparent;
    border-radius: 10%;
    transition: all .1s ease-in-out;
    background-color: #0A66C2;
    scale: 1;

}

.git {
    padding: .2rem;
    border: 0rem solid transparent;
    border-radius: 25%;
    transition: all .1s ease-in-out;
    scale: 1;

}

/* Media query for smaller screens */
@media (max-width: 768px) {

    /* Styles specific to smaller screens */
    
    .flip {
        width: 80%;
        height: 50%;
        /* text-align: center; */
        perspective: 600px;
    }
    
    .flip-content {
        width: 100%;
        height: 100%;
        transition: transform 0.4s;
        transform-style: preserve-3d;
    }
    h2 {
        font-family: 'P22 Bifur C', sans-serif;
        text-transform: uppercase;
        font-size: 2.5rem;
    }

    
}

@media (min-width: 2000px) {

    /* Styles specific to larger screens */

}