.home {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}


.mouseScroll {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mouseScroll {
    width: 100px;
    height: 100px;
}

#mouseScroll:hover {
    cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 768px) {

    /* Styles specific to smaller screens */
    
    #mouseScroll {
        height: 50px;
        width: auto;
    }
}

@media (min-width: 2000px) {

    /* Styles specific to larger screens */
    #mouseScroll {
        height: 150px;
        width: auto;
    }
}