.home {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.mouseScroll {
    display: flex;
    justify-content: center;
    align-items: center;
}

