.profile {
    background-color: white;
    color: black;
    font-family: "Futura Round W01 Medium";
}

.textCover {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0px 5rem;
}


.imageMe {
    margin: 0 3rem;
    width: 300px;
    height: auto;
    /* scale: 1; */
    border: 3px solid #ff0c00;
    border-radius: 67% 45% 67% 49%;
    padding-bottom: .5rem;
}


/* Media query for smaller screens */
@media (max-width: 768px) {

    /* Styles specific to smaller screens */
    .textCover {
        padding: 0px 1rem;
        display: grid;
        grid-template-rows: 2fr 5fr;
        grid-auto-rows: auto;
    }

    .imageMe {
        width: 200px;
        height: auto;
        scale: .8;
    }

    .build {
        margin-top: 0rem;
        font-size: smaller;
    }
}

@media (min-width: 2000px) {

    /* Styles specific to larger screens */
    .textCover {
        padding: 0px 5rem;

    }

    .imageMe {
        padding: 0 3rem;
        width: 500px;
        height: auto;
    }
}