.projects {
    background-color: black;
    color: white;
    overflow: hidden;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    align-items: center;
    margin: 2rem 3rem;
    background-color: rgb(176, 176, 176);
}
.card-footer{
    background-color: rgb(176, 176, 176);
}

.progress{
    margin: 0;
    padding: 0;
}
.languages{
    padding-right: 1rem;
    font-size: small;
    font-family: "Futura Round W01 Medium";
}