.skills {
    background-color: black;
    color: white;
    font-family: "Futura Round W01 Medium";
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagCloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Media query for smaller screens */
@media (max-width: 768px) {

    /* Styles specific to smaller screens */
    .tagCloud {
        display: flex;
        /* padding-top: 30%; */
        scale: 1.3;
    }

    .skills {
        height: 70vh;
        width: 100vw;
    }
}

@media (min-width: 2000px) {
    /* Styles specific to larger screens */
}