.skills {
    background-color: black;
    color: white;
}

.tagCloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Media query for smaller screens */
@media (max-width: 768px) {

    /* Styles specific to smaller screens */
    .tagCloud {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 30%;
        scale: 1.2;
    }

    .skills {
        height: 70vh;
    }
}

@media (min-width: 2000px) {
    /* Styles specific to larger screens */
}